.tabs {
  text-align: left;
  width: 70%;
  margin-left: 6rem;
  display: flex;
  flex-direction: column;  
  padding: 0 0;
}

.tab-list {
  margin: 0 0;
  padding: 0 0 2px 0;
  display: flex;
}

.tab-list-item {
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #131721;
  padding-bottom: 5px;
  margin-right: 50px;
}

.tab-list-item:hover {
  cursor: pointer;
  color: #cf6766;
}


.tab-list-active {
  color: #cf6766;
  border-bottom: 2px solid #cf6766;
}

/* @media (max-width: 700px) {
  .tab-list {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .tab-list-item {
    display: block;
    text-align: left;
  }

  .tab-list-active {
    color: #cf6766;
    border-bottom: 2px solid #cf6766;
  }
} */